body{
    font-family: Arial, Tahoma, Serif;
    color: rgb(49, 49, 122);
    background-color: #eeeef4;
    font-family: 'Gloock', serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    align-items: center;
}

.headline img{
    object-fit: cover;
    float: left;
    height: 60px;
    margin-right: 10%;
    padding-top:22px;
}

.headline{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}

.headline span{
    font-size: 40px;
    font-weight: 300;
    padding:10px;
    margin-top: 22px;
}

.content{
    padding:35px;
    height: auto;
    margin:20px;
    background-color: rgba(115, 115, 173, 0.603);
    margin-left:60px;
    margin-right:60px;
}



.content span1{
    font-size: 17px;
    line-height: 30px;
}