body{
    font-family: Arial, Tahoma, Serif;
    color: rgb(49, 49, 122);
    background-color: hwb(240 93% 4%);
    font-family: 'Gloock', serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0;
}

.pictures_all{
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
}

.pictures_all div{
    background-color: rgba(49, 49, 122, 0.683);
    color: #ffffff;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    padding-bottom: 10px;
}

.pictures_all span{
    font-size: 25px;
    background-color: rgb(49, 49, 122);
    padding: 30px;
}

.pictures_all a{
    font-size: 25px;
    background-color: rgb(49, 49, 122);
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
}

.einzel{
    width:fit-content;
}

.gruppe{
    width: fit-content;
}

a:hover{
    text-decoration: underline;
}

.pictures_all img{
    width: 100%;
}

ul{
    list-style-type: none;
    text-align: left;
    font-size: 17px;
}

.headline{
    background-color:#ffffff;
    width:100%;
    align-items: middle;
    justify-items: center;
}


.headline img{
    height: 100px;
    align-items: center;
    margin-left: 15%;
}

.facher{
    width: 100%;
    background-color: #d33c3c;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.facher span{
    font-size: 20px;
    font-weight: 20px;

}

.navbr{
    background-color: #ffffff;
    float:right;

}


.navbr a{
    text-decoration: none;
    color:rgb(165, 45, 49);

    float: right;
}

.rr a{
    text-decoration:underline;
    font-size:17px;
    background: none;
}


.about_me{
    display: flex;
    background-color: rgb(255, 255, 255);
    width:100%;
}

.about_me img{
    padding-left:100px;
    padding-right: 10px;
    height: 400px;
}

.about_me span{
    padding:90px;
    line-height: 30px;
    max-width:50%;
}


.legal_content span{
    float:right;
    padding-right: 50px;
}

.neu{
    height: 200px;
    width: 90%;
    background-color: rgb(110, 127, 177);
    display: inline-block;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
}

.left{
    width: 30%;
    height: 100%;
    background-color: #4a4a8a;
    display: inline-block;
    margin-left: 2%;
    object-fit: cover;
}
.left img{
    height: 100%;
    width: fit-content;
}
.middle{
    width: 30%;
    height: 100%;
    background-color: #4a4a8a;
    display: inline-block;
    margin-left: 2%;
}
.middle img{
    height: 100%;
    width: fit-content;
}

.right{
    width: 30%;
    height: 100%;
    background-color: #4a4a8a;
    display: inline-block;
    margin-left: 2%;
}
.right img{
    height: 100%;
    width: fit-content;
}

@media (width <= 950px) {  
    html{
        background:#eeeef4;

    }

    

    .navbr{
        float:left;
    }

    .facher{

    }

    .facher span{
        font-size: 15px;
    }

    .about_me{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    
    }

    .about_me img{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        height:350px;
        float:bottom;
    }

    .about_me span{
        line-height: 30px;
        float: top;
        padding-top:20px;
    }

    .pictures_all img{
        width:400px;
        margin-top: 10px;
    }
    

    .pictures_all{
        flex-direction: column;
        width:90%;
    }

    .pictures_all div{
        width:100%;
    }

}